
config ai 'default'
	option si_unit '95'
	option nc '1'
	option max_value '4095'
	option min_value '0'

config ai '0'
	option pgroup 'R802'
	option name 'AI_00'
	option description 'Analog Channel 0'
	option addr '0'
	option tagname 'ai0'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '0'
	option value '0'

config ai '1'
	option pgroup 'R802'
	option name 'AI_01'
	option description 'Analog Channel 1'
	option addr '1'
	option tagname 'ai1'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '0'
	option value '0'

config ai '2'
	option pgroup 'R802'
	option name 'AI_02'
	option description 'Analog Channel 2'
	option addr '2'
	option tagname 'ai2'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '0'
	option value '0'

config ai '3'
	option pgroup 'R802'
	option name 'AI_03'
	option description 'Analog Channel 3'
	option addr '3'
	option tagname 'ai3'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '0'
	option value '0'
	