
config av 'default'
	option si_unit '98'
	option description 'Analog Value'
	option nc '1'
	option event '7'
	option limit '3'
	option high_limit '40'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'
	
config av '0'
	option name 'Damper_1_Position'
	option description 'Damper control position for damper system 1'
	option addr '0'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'
	
config av '1'
	option name 'Damper_2_Position'
	option description 'Damper control position for damper system 2'
	option addr '1'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'
	
config av '2'
	option name 'Damper_3_Position'
	option description 'Damper control position for damper system 3'
	option addr '0'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'
	
config av '3'
	option name 'Damper_4_Position'
	option description 'Damper control position for damper system 4'
	option addr '0'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'
	
config av '4'
	option name 'Damper_5_Position'
	option description 'Damper control position for damper system 5'
	option addr '1'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'
	
config av '5'
	option name 'Damper_6_Position'
	option description 'Damper control position for damper system 6'
	option addr '0'
	option si_unit '98'
	option resolution '1'
	option value '0'
	option Out_Of_Service '1'