
config ai 'default'
	option si_unit '95'
	option nc '1'
	option max_value '4095'
	option min_value '0'

config ai '0'
	option pgroup 'R802'
	option name 'AI_00'
	option description 'Analog Channel 0'
	option addr '0'
	option tagname 'ai0'
	option unit_id '1'
	option si_unit '2'
	option Out_Of_Service '0'
	option value '0'

config ai '1'
	option pgroup 'R802'
	option name 'AI_01'
	option description 'Analog Channel 1'
	option addr '1'
	option tagname 'ai1'
	option unit_id '1'
	option si_unit '2'
	option Out_Of_Service '0'
	option value '0'

config ai '2'
	option pgroup 'R802'
	option name 'AI_02'
	option description 'Analog Channel 2'
	option addr '2'
	option tagname 'ai2'
	option unit_id '1'
	option si_unit '2'
	option Out_Of_Service '0'
	option value '0'

config ai '3'
	option pgroup 'R802'
	option name 'AI_03'
	option description 'Analog Channel 3'
	option addr '3'
	option tagname 'ai3'
	option unit_id '1'
	option si_unit '2'
	option Out_Of_Service '0'
	option value '0'
	
config ai '64'
	option pgroup 'R802'
	option name 'Sensor1 Temp'
	option description 'Ethernet sensor 1 temperature'
	option addr '64'
	option tagname 'sen1_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '65'
	option pgroup 'R802'
	option name 'Sensor1 Humidity'
	option description 'Ethernet sensor 1 Humidity'
	option addr '65'
	option tagname 'sen1_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '66'
	option pgroup 'R802'
	option name 'Sensor1 CO2'
	option description 'Ethernet sensor 1 CO2'
	option addr '66'
	option tagname 'sen1_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '67'
	option pgroup 'R802'
	option name 'Sensor1 TVoC'
	option description 'Ethernet sensor 1 TVoC'
	option addr '67'
	option tagname 'sen1_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '69'
	option pgroup 'R802'
	option name 'Sensor1 PM2.5'
	option description 'Ethernet sensor 1 PM2.5'
	option addr '69'
	option tagname 'sen1_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '71'
	option pgroup 'R802'
	option name 'Sensor1 PM10'
	option description 'Ethernet sensor 1 PM10'
	option addr '71'
	option tagname 'sen1_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '72'
	option pgroup 'R802'
	option name 'Sensor1 CO'
	option description 'Ethernet sensor 1 CO'
	option addr '72'
	option tagname 'sen1_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '73'
	option pgroup 'R802'
	option name 'Sensor1 O3'
	option description 'Ethernet sensor 1 O3'
	option addr '73'
	option tagname 'sen1_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '74'
	option pgroup 'R802'
	option name 'Sensor1 CH2O'
	option description 'Ethernet sensor 1 CH2O'
	option addr '74'
	option tagname 'sen1_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '75'
	option pgroup 'R802'
	option name 'Sensor1 CO2 score'
	option description 'Ethernet sensor 1 CO2 score'
	option addr '75'
	option tagname 'sen1_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '76'
	option pgroup 'R802'
	option name 'Sensor1 TVOC score'
	option description 'Ethernet sensor 1 TVOC score'
	option addr '76'
	option tagname 'sen1_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '77'
	option pgroup 'R802'
	option name 'Sensor1 PM2.5 score'
	option description 'Ethernet sensor 1 PM2.5 score'
	option addr '77'
	option tagname 'sen1_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '128'
	option pgroup 'R802'
	option name 'Sensor2 Temp'
	option description 'Ethernet sensor 2 temperature'
	option addr '128'
	option tagname 'sen2_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '129'
	option pgroup 'R802'
	option name 'Sensor2 Humidity'
	option description 'Ethernet sensor 2 Humidity'
	option addr '129'
	option tagname 'sen2_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '130'
	option pgroup 'R802'
	option name 'Sensor2 CO2'
	option description 'Ethernet sensor 2 CO2'
	option addr '130'
	option tagname 'sen2_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '131'
	option pgroup 'R802'
	option name 'Sensor2 TVoC'
	option description 'Ethernet sensor 2 TVoC'
	option addr '131'
	option tagname 'sen2_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '133'
	option pgroup 'R802'
	option name 'Sensor2 PM2.5'
	option description 'Ethernet sensor 2 PM2.5'
	option addr '133'
	option tagname 'sen2_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '135'
	option pgroup 'R802'
	option name 'Sensor2 PM10'
	option description 'Ethernet sensor 2 PM10'
	option addr '135'
	option tagname 'sen2_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '136'
	option pgroup 'R802'
	option name 'Sensor2 CO'
	option description 'Ethernet sensor 2 CO'
	option addr '136'
	option tagname 'sen2_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '137'
	option pgroup 'R802'
	option name 'Sensor2 O3'
	option description 'Ethernet sensor 2 O3'
	option addr '137'
	option tagname 'sen1_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '138'
	option pgroup 'R802'
	option name 'Sensor2 CH2O'
	option description 'Ethernet sensor 2 CH2O'
	option addr '138'
	option tagname 'sen2_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '139'
	option pgroup 'R802'
	option name 'Sensor2 CO2 score'
	option description 'Ethernet sensor 2 CO2 score'
	option addr '139'
	option tagname 'sen2_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '140'
	option pgroup 'R802'
	option name 'Sensor2 TVOC score'
	option description 'Ethernet sensor 2 TVOC score'
	option addr '140'
	option tagname 'sen2_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '141'
	option pgroup 'R802'
	option name 'Sensor2 PM2.5 score'
	option description 'Ethernet sensor 2 PM2.5 score'
	option addr '141'
	option tagname 'sen2_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '192'
	option pgroup 'R802'
	option name 'Sensor3 Temp'
	option description 'Ethernet sensor 3 temperature'
	option addr '192'
	option tagname 'sen3_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '193'
	option pgroup 'R802'
	option name 'Sensor3 Humidity'
	option description 'Ethernet sensor 3 Humidity'
	option addr '193'
	option tagname 'sen3_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '194'
	option pgroup 'R802'
	option name 'Sensor3 CO2'
	option description 'Ethernet sensor 3 CO2'
	option addr '194'
	option tagname 'sen3_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '195'
	option pgroup 'R802'
	option name 'Sensor3 TVoC'
	option description 'Ethernet sensor 3 TVoC'
	option addr '195'
	option tagname 'sen3_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '197'
	option pgroup 'R802'
	option name 'Sensor3 PM2.5'
	option description 'Ethernet sensor 3 PM2.5'
	option addr '197'
	option tagname 'sen3_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '199'
	option pgroup 'R802'
	option name 'Sensor3 PM10'
	option description 'Ethernet sensor 3 PM10'
	option addr '199'
	option tagname 'sen3_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '200'
	option pgroup 'R802'
	option name 'Sensor3 CO'
	option description 'Ethernet sensor 3 CO'
	option addr '200'
	option tagname 'sen3_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '201'
	option pgroup 'R802'
	option name 'Sensor3 O3'
	option description 'Ethernet sensor 3 O3'
	option addr '201'
	option tagname 'sen3_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'

config ai '202'
	option pgroup 'R802'
	option name 'Sensor3 CH2O'
	option description 'Ethernet sensor 3 CH2O'
	option addr '202'
	option tagname 'sen3_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '203'
	option pgroup 'R802'
	option name 'Sensor3 CO2 score'
	option description 'Ethernet sensor 3 CO2 score'
	option addr '203'
	option tagname 'sen3_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '204'
	option pgroup 'R802'
	option name 'Sensor3 TVOC score'
	option description 'Ethernet sensor 3 TVOC score'
	option addr '204'
	option tagname 'sen3_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '205'
	option pgroup 'R802'
	option name 'Sensor3 PM2.5 score'
	option description 'Ethernet sensor 3 PM2.5 score'
	option addr '205'
	option tagname 'sen3_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '256'
	option pgroup 'R802'
	option name 'Sensor4 Temp'
	option description 'Ethernet sensor 4 temperature'
	option addr '256'
	option tagname 'sen4_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '257'
	option pgroup 'R802'
	option name 'Sensor4 Humidity'
	option description 'Ethernet sensor 4 Humidity'
	option addr '257'
	option tagname 'sen4_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '258'
	option pgroup 'R802'
	option name 'Sensor4 CO2'
	option description 'Ethernet sensor 4 CO2'
	option addr '258'
	option tagname 'sen4_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '259'
	option pgroup 'R802'
	option name 'Sensor4 TVoC'
	option description 'Ethernet sensor 4 TVoC'
	option addr '259'
	option tagname 'sen4_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '261'
	option pgroup 'R802'
	option name 'Sensor4 PM2.5'
	option description 'Ethernet sensor 4 PM2.5'
	option addr '261'
	option tagname 'sen4_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '263'
	option pgroup 'R802'
	option name 'Sensor4 PM10'
	option description 'Ethernet sensor 4 PM10'
	option addr '263'
	option tagname 'sen4_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '264'
	option pgroup 'R802'
	option name 'Sensor4 CO'
	option description 'Ethernet sensor 4 CO'
	option addr '264'
	option tagname 'sen4_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '265'
	option pgroup 'R802'
	option name 'Sensor4 O3'
	option description 'Ethernet sensor 4 O3'
	option addr '265'
	option tagname 'sen4_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'

config ai '266'
	option pgroup 'R802'
	option name 'Sensor4 CH2O'
	option description 'Ethernet sensor 4 CH2O'
	option addr '266'
	option tagname 'sen4_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '267'
	option pgroup 'R802'
	option name 'Sensor4 CO2 score'
	option description 'Ethernet sensor 4 CO2 score'
	option addr '267'
	option tagname 'sen4_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '268'
	option pgroup 'R802'
	option name 'Sensor4 TVOC score'
	option description 'Ethernet sensor 4 TVOC score'
	option addr '268'
	option tagname 'sen4_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '269'
	option pgroup 'R802'
	option name 'Sensor4 PM2.5 score'
	option description 'Ethernet sensor 4 PM2.5 score'
	option addr '269'
	option tagname 'sen4_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '320'
	option pgroup 'R802'
	option name 'Sensor5 Temp'
	option description 'Ethernet sensor 5 temperature'
	option addr '320'
	option tagname 'sen5_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '321'
	option pgroup 'R802'
	option name 'Sensor5 Humidity'
	option description 'Ethernet sensor 5 Humidity'
	option addr '321'
	option tagname 'sen5_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '322'
	option pgroup 'R802'
	option name 'Sensor5 CO2'
	option description 'Ethernet sensor 5 CO2'
	option addr '322'
	option tagname 'sen5_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '323'
	option pgroup 'R802'
	option name 'Sensor5 TVoC'
	option description 'Ethernet sensor 5 TVoC'
	option addr '323'
	option tagname 'sen5_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '325'
	option pgroup 'R802'
	option name 'Sensor5 PM2.5'
	option description 'Ethernet sensor 5 PM2.5'
	option addr '325'
	option tagname 'sen5_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '327'
	option pgroup 'R802'
	option name 'Sensor5 PM10'
	option description 'Ethernet sensor 5 PM10'
	option addr '327'
	option tagname 'sen5_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '328'
	option pgroup 'R802'
	option name 'Sensor5 CO'
	option description 'Ethernet sensor 5 CO'
	option addr '328'
	option tagname 'sen5_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '329'
	option pgroup 'R802'
	option name 'Sensor5 O3'
	option description 'Ethernet sensor 5 O3'
	option addr '329'
	option tagname 'sen5_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '330'
	option pgroup 'R802'
	option name 'Sensor5 CH2O'
	option description 'Ethernet sensor 5 CH2O'
	option addr '330'
	option tagname 'sen5_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '331'
	option pgroup 'R802'
	option name 'Sensor5 CO2 score'
	option description 'Ethernet sensor 5 CO2 score'
	option addr '331'
	option tagname 'sen5_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '332'
	option pgroup 'R802'
	option name 'Sensor5 TVOC score'
	option description 'Ethernet sensor 5 TVOC score'
	option addr '332'
	option tagname 'sen5_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '333'
	option pgroup 'R802'
	option name 'Sensor5 PM2.5 score'
	option description 'Ethernet sensor 5 PM2.5 score'
	option addr '333'
	option tagname 'sen5_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '384'
	option pgroup 'R802'
	option name 'Sensor6 Temp'
	option description 'Ethernet sensor 6 temperature'
	option addr '384'
	option tagname 'sen6_temp'
	option unit_id '1'
	option si_unit '64'
	option Out_Of_Service '1'
	option value '0'
	
config ai '385'
	option pgroup 'R802'
	option name 'Sensor6 Humidity'
	option description 'Ethernet sensor 6 Humidity'
	option addr '358'
	option tagname 'sen6_hum'
	option unit_id '1'
	option si_unit '29'
	option Out_Of_Service '1'
	option value '0'
	
config ai '386'
	option pgroup 'R802'
	option name 'Sensor6 CO2'
	option description 'Ethernet sensor 6 CO2'
	option addr '386'
	option tagname 'sen6_CO2'
	option unit_id '1'
	option si_unit '96'
	option Out_Of_Service '1'
	option value '0'

config ai '387'
	option pgroup 'R802'
	option name 'Sensor6 TVoC'
	option description 'Ethernet sensor 6 TVoC'
	option addr '387'
	option tagname 'sen6_tvoc'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'	
	
config ai '389'
	option pgroup 'R802'
	option name 'Sensor6 PM2.5'
	option description 'Ethernet sensor 6 PM2.5'
	option addr '386'
	option tagname 'sen6_pm2.5'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '391'
	option pgroup 'R802'
	option name 'Sensor6 PM10'
	option description 'Ethernet sensor 6 PM10'
	option addr '391'
	option tagname 'sen6_pm10'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '392'
	option pgroup 'R802'
	option name 'Sensor6 CO'
	option description 'Ethernet sensor 6 CO'
	option addr '392'
	option tagname 'sen6_co'
	option unit_id '1'
	option si_unit '218'
	option Out_Of_Service '1'
	option value '0'
	
config ai '393'
	option pgroup 'R802'
	option name 'Sensor6 O3'
	option description 'Ethernet sensor 6 O3'
	option addr '393'
	option tagname 'sen6_o3'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '394'
	option pgroup 'R802'
	option name 'Sensor6 CH2O'
	option description 'Ethernet sensor 6 CH2O'
	option addr '394'
	option tagname 'sen6_CH2O'
	option unit_id '1'
	option si_unit '219'
	option Out_Of_Service '1'
	option value '0'
	
config ai '395'
	option pgroup 'R802'
	option name 'Sensor6 CO2 score'
	option description 'Ethernet sensor 6 CO2 score'
	option addr '395'
	option tagname 'sen6_CO2_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '396'
	option pgroup 'R802'
	option name 'Sensor6 TVOC score'
	option description 'Ethernet sensor 6 TVOC score'
	option addr '396'
	option tagname 'sen6_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'
	
config ai '397'
	option pgroup 'R802'
	option name 'Sensor6 PM2.5 score'
	option description 'Ethernet sensor 6 PM2.5 score'
	option addr '397'
	option tagname 'sen6_TVOC_score'
	option unit_id '1'
	option si_unit '95'
	option Out_Of_Service '1'
	option value '0'