config mi 'default'
        list state 'up'
        list state 'down'
        list state 'unreachable'
        list state 'flaping'
        list alarmstate 'down'
        list alarmstate 'unreachable'
        list alarmstate 'flaping'
        option description 'Multi State Input'
        option nc '1'
        option event '7'
